:host {
    --rating-bar-font-family: var(--global-font-family);
    --rating-bar-font-weight: var(--font-weight-semi-bold);
    --rating-bar-background-color: var(--separator-01);
    --linear-bar-font-size: 1.6rem;
    --rating-bar-label-color: var(--primary-text);
  }
  